.venv/
models/SVM_model.pkl
models/SVM_model copy.pkl
models/RandomForest_model.pkl
models/OneClassSVM_model.pkl
models/LogisticRegression_model.pkl
models/IsolationForest_model.pkl
models/DNN_model.h5
models/Autoencoder_model.h5
models/rag_final/
gui-react/node_modules

__pycache__/
*.pyc
*.csv
*.ipynb
temp*.txt
node_modules/
2venv/
